@model Healkeep.Models.Comments

@*<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div>


    <div><b>@Html.DisplayTextFor(modelItem => Model.AspNetUsers.UserName)</b></div>
    <div class="col-md-offset-1">

        @Html.DisplayTextFor(modelItem => Model.Description)
        <p></p>
        @Html.DisplayTextFor(modelItem => Model.CreatedTime)
        <p></p>

        <div style="float:left">
                <span class="badge">@Html.DisplayTextFor(modelItem => Model.VoteUp)</span>


                @*@if ( Model.Checked == false )*@
                
                @*@Ajax.ImageAjaxActionLink("../../Content/Images/upOk.png", "VoteUp", "VoteUp", "Comments", new { commentId = Model.CommentID }, new AjaxOptions
                                                                                                                                        {
                                                                                                                                            HttpMethod = "POST",
                                                                                                                                            UpdateTargetId = Model.CommentID.ToString(),
                                                                                                                                            InsertionMode = InsertionMode.Replace
                                                                                                                                    }, new { style = "null" })*@
                
                @*else
                {
                    @Ajax.ImageAjaxActionLink("../../Content/Images/upOk.png", "UpOk", "VoteUp", "Comments", new { commentId = Model.Comments.CommentID }, new AjaxOptions
                   {
                       HttpMethod = "POST",
                       UpdateTargetId = Model.Comments.CommentID.ToString(),
                       InsertionMode = InsertionMode.Replace
                   }, new { style = "null" })
                }*@
            </div>

            @*<div style="float:left">
                <span class="badge">@Html.DisplayTextFor(modelItem => Model.VoteDown)</span>
                @Ajax.ImageAjaxActionLink("../../Content/Images/down.png", "VoteDown", "VoteDown", "Comments", new { commentId = Model.CommentID }, new AjaxOptions
                                                                                                                                       {
                                                                                                                                           HttpMethod = "POST",
                                                                                                                                           UpdateTargetId = Model.CommentID.ToString(),
                                                                                                                                           InsertionMode = InsertionMode.Replace
                                                                                                                                       }, new { style = "null" })
            </div>*@
    </div>
</div>