@model Healkeep.Models.Comments

<head>
    <title></title>
    <script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Script.js"></script>
</head>


<div class="col-md-offset-1">
    @Html.DisplayNameFor(modelItem => Model.Description)
    <p></p>
    @Html.DisplayTextFor(modelItem => Model.CreatedTime)
    <p></p>
    @Html.DisplayTextFor(modelItem => Model.AspNetUsers.UserName)
    <p></p>
    @Ajax.ActionLink("voteUp", "All", "Comments", new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = Model.CommentID.ToString(),
        InsertionMode = InsertionMode.Replace
    })

    <span style="color:blue"> | </span>

    <div id=@Model.CommentID.ToString()>

    </div>
    <div>
        @*<div style="display:inline">
                @Ajax.ActionLink("VoteUp", "_VoteUp", "Comments", new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = Model.CommentID.ToString(),
                        InsertionMode = InsertionMode.Replace
                    }
                    , new { style = "null" })
            </div>
            <div id=@Model.CommentID>
                <span class="badge">@Html.DisplayTextFor(modelItem => Model.VoteUp)</span>
            </div>*@

    </div>
</div>
